<% include ./partials/header.ejs %>
    <div class=" w-full h-screen bg-[url(https://tse2.mm.bing.net/th?id=OIP.q2v34OcNj1XflllmiPfoCgHaFj&pid=Api&P=0&h=180)] bg-center  bg-cover
  bg-no-repeat flex items-center justify-center px-10 py-10 ">
        <div class="w-80 bg-zinc-100 px-4 py-5 rounded-md ">
            <h2 class="tracking-tighter capatialize text-3xl text-center">Register to pinterest</h2>
            <form action="/register" method="post">
                <input class="block mt-2 w-full px-3 py-2" type="text" name="username" placeholder="Username">
                <input class="block mt-2 w-full px-3 py-2" type="text" name="name" placeholder="Full Name">
                <input class="block mt-2 w-full px-3 py-2" type="email" name="email" placeholder="email">
                <input class="block mt-2 w-full px-3 py-2" type="password" name="password" placeholder="Password?">
                <input class="block mt-2 w-full px-3 py-2 bg-red-500 hover:bg-red-700 rounded-[30px] text-white"
                    type="submit">
                <!-- <a class="font-semibold inline-block mt-2 text-gray-500 " href="">Forget Password?</a> -->
                <p class="text-center mt-1">To see More Images come on Pinterest and look beautifull Images in feed.
                    upload your Images on Pinterest...</p>
                <a class="font-semibold inline-block mt-2 text-blue-500 mx-1 items-center ml-14" href="/">Do have an
                    Account?</a>

            </form>
        </div>
    </div>
    <% include ./partials/footer.ejs %>